<app-header></app-header>
<section class="container">
  <h1 class="text-center my-5">
    Gerenciador de Funcionários
  </h1>
  <div class="row row-cols-2 justify-content-center">
    <div class="row row-cols-2 col-auto">
      <div class="col-auto">
        <label for="inputPassword2" class="visually-hidden">Buscar funcionario</label>
        <input type="search" class="border-info form-control rounded-1" id="inputPassword2" placeholder="Buscar por nome" (input)="searchEmployees(searchInput.value)" #searchInput />
      </div>
      <button class="btn btn-info col-auto fw-semibold rounded-1" id="btnSearch" >Pesquisar</button>
    </div>
    <div class="col-auto">
      <button class="btn btn-primary fw-semibold text-light rounded-1 add-func" data-bs-toggle="modal" #addEmployeeButton href="#addFuncionario" role="button">Add Funcionário</button>
    </div>
  </div>
</section>

<!-- Displa Employee -->
<section>
  <div *ngIf="employees.length === 0">
    <h6 class="text-center mt-5">
      Nenhum funcionário foi adicionado.
    </h6>
  </div>

  <div *ngFor="let employeeInfos of employeeToDisplay; let i = index">
    <app-employee [employee]="employeeInfos" (onRemoveEmployee)="removeEmployee($event)" (onEditEmployee)="editEmployee($event)"></app-employee>
  </div>

</section>



<!-- Modal Bootstrap -->
<div class="modal fade" id="addFuncionario" aria-labelledby="addFuncionarioLabel" tabindex="-1" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addFuncionarioLabel">Informações do novo funcionário</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="employeeForm" class="d-flex flex-column gap-4" id="form-modal">
          <!-- informações pessoais -->
          <section class="col-auto">
            <h6 class="m-0">
              Dados pessoais
            </h6>
            <div class="form-floating">
              <input formControlName="firstname" type="text" class="border-0 border-bottom form-control" id="floatingInputNome" placeholder="Nome">
              <label for="floatingInputNome">Nome</label>
            </div>
            <div class="form-floating">
              <input formControlName="lastname" type="text" class="border-0 border-bottom form-control" id="floatingInputSobrenome" placeholder="Sobrenome">
              <label for="floatingInputSobrenome">Sobrenome</label>
            </div>
          </section>


          <section class="col-auto">
            <h6 class="mb-2">Data de aniversário</h6>
            <input formControlName="birthday" type="date" class="border-0 border-bottom form-control" id="datepicker" placeholder="Aniversário">
          </section>

          <section class="col-auto">
            <h6 class="mb-2">Foto do funcionário</h6>
            <div class="col-auto">
              <label class="mb-3" for="profile">Carregue uma imagem</label>
              <input #fileInput type="file" class="border-0 border-bottom form-control" id="profile">
            </div>
          </section>

          <section class="col-auto">
            <h6 class="mb-3">Sexo</h6>
            <div class="ps-2">
              <div class="form-check form-check-inline">
                <input formControlName="gender" class="form-check-input" type="radio" name="gender" id="masculino" value="m">
                <label class="form-check-label" for="masculino">Masculino</label>
              </div>
              <div class="form-check form-check-inline">
                <input formControlName="gender" class="form-check-input" type="radio" name="gender" id="feminino" value="f">
                <label class="form-check-label" for="male">Feminino</label>
              </div>
            </div>
          </section>

          <section class="col-auto">
            <h6>Selecionar formação</h6>
            <select formControlName="education" class="border-0 border-bottom form-select">
              <option value="default" selected>
                Formação
              </option>
              <option *ngFor="let option of educationOptions; let i = index;" [value]="i">
                {{ option }}
              </option>
            </select>
          </section>

          <section class="col-auto">
            <h6 class="m-0">Experiência de trabalho</h6>
            <div class="form-floating">
              <input formControlName="company" type="text" class="border-0 border-bottom form-control" id="floatingInputUltEmpresa" placeholder="Nome da última empresa">
              <label for="floatingInputUltEmpresa">Nome da última empresa</label>
            </div>
            <div class="form-floating">
              <input formControlName="jobExperience" type="number" class="border-0 border-bottom form-control" id="floatingInputExp" placeholder="Tempo de experiênciaa">
              <label for="floatingInputExp">Tempo de experiência</label>
            </div>
            <div class="form-floating">
              <input formControlName="salary"  type="number" class="border-0 border-bottom form-control" id="floatingInputUltSalario" placeholder="Último salário">
              <label for="floatingInputUltSalario">Último salário</label>
            </div>
          </section>
        </form>
      </div>
      <div class="d-flex justify-content-center modal-footer border-0">
        <button (click)="addEmployee()" class="btn btn-info col-auto fw-semibold rounded-1" id="bntSave" type="button" data-bs-dismiss="modal">Salvar funcionário</button>
      </div>
    </div>
  </div>
</div>
